{{>layout/header}}

    <h1>Regist Posts</h1>
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Write Title">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Write Author">
            </div>
        </form>
    </div>
{{>layout/footer}}